header {
  display: flex;
  min-height: 50px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: steelblue;
}

header span {
  margin: 5px;
}

header button {
  margin: 5px;
}